In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/clientes.csv')

In [4]:
max_pontos = df['qtdePontos'].max()
df[df['qtdePontos'] == max_pontos]

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
792,4fade907-6e0f-4581-a674-aad6622b1b10,0,1,0,0,0,30799,0000-00-00 00:00:00.000,2025-02-28 12:53:28.913

In [6]:
top_5 = df['qtdePontos'].nlargest(5)
top_5

792     30799
1226    15296
449     13232
663     12670
304     12209
Name: qtdePontos, dtype: int64

In [ ]:
import random

# Criando um DF dummy
nomes = [
    "Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena", 
    "Igor", "Julia", "Karla", "Lucas", "Mariana", "Natasha", "Otavio", "Paula", 
    "Rafael", "Sofia", "Tiago", "Vanessa"
]
sobrenomes = [
    "Silva", "Santos", "Oliveira", "Souza", "Lima", "Pereira", "Costa", "Almeida", 
    "Ribeiro", "Carvalho", "Mendes", "Ferreira", "Rodrigues", "Martins", "Gomes"
]

# Gerando os dados
data = {
    "nome": [f"{random.choice(nomes)} {random.choice(sobrenomes)}" for _ in range(100)],
    "idade": [random.randint(18, 70) for _ in range(100)],
    "salario": [round(random.uniform(2000, 15000), 2) for _ in range(100)]
}

# Criando o DataFrame
df_dummy = pd.DataFrame(data)

# Exibindo o DataFrame, (100 x 3)
df_dummy

                nome  idade   salario
0    Natasha Pereira     45   3754.96
1      Tiago Pereira     21   6092.59
2    Eduardo Pereira     64  10077.68
3     Carlos Pereira     61  10343.95
4   Fernanda Ribeiro     63  14358.48
..               ...    ...       ...
95  Fernanda Almeida     24  11125.39
96   Eduardo Ribeiro     29  12124.70
97       Karla Costa     25  14645.22
98      Julia Mendes     68   6743.40
99       Julia Costa     37  13498.94

[100 rows x 3 columns]

In [9]:
df_dummy.sort_values(by=['salario', 'idade'], ascending=[False, True])

                nome  idade   salario
65     Helena Mendes     68  14741.02
97       Karla Costa     25  14645.22
4   Fernanda Ribeiro     63  14358.48
77     Igor Carvalho     38  14222.18
66     Gabriel Souza     52  13987.06
..               ...    ...       ...
29    Tiago Oliveira     28   2563.97
5      Sofia Pereira     64   2540.85
61     Igor Carvalho     40   2441.08
92       Carlos Lima     33   2437.85
93      Helena Gomes     43   2377.67

[100 rows x 3 columns]