In [24]:
import pandas as pd

In [25]:
# Lendo o arquivo CSV
df = pd.read_csv("../data/clientes.csv", sep=",")
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [26]:
# Salvamdo o arquivo em formato parquet
df.to_parquet("clientes.parquet", index=False)

# Tambem posso ler o arquivo parquet
df2 = pd.read_parquet("clientes.parquet")
df2

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,None,None
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,None,None
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,None,None
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,None,None
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,None,None
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,None,None

In [27]:
# Lendo dados apartir de uma URL

url = "https://pt.wikipedia.org/wiki/Unidades_federativas_do_Brasil"

df3 = pd.read_html(url)
df3

[               0                                                  1  \
 0     Capítulo I             Da Organização Político-Administrativa
 1    Capítulo II                                           Da União
 2   Capítulo III                              Dos Estados Federados
 3    Capítulo IV                                     Dos Municípios
 4     Capítulo V              Do Distrito Federal e dos Territórios
 5        Seção I                                Do Distrito Federal
 6       Seção II                                    Dos Territórios
 7    Capítulo VI                                     Da Intervenção
 8   Capítulo VII                           Da Administração Pública
 9        Seção I                                 Disposições Gerais
 10      Seção II                            Dos Servidores Públicos
 11     Seção III  Dos Militares dos Estados, do Distrito Federal...
 12      Seção IV                                        Das Regiões

              2
 0   art. 18-19
 1   art. 20-24
 2   art. 25-28
 3   art. 29-31
 4   art. 32-33
 5      art. 32
 6      art. 33
 7   art. 34-36
 8   art. 37-43
 9   art. 37-38
 10  art. 39-41
 11     art. 42
 12     art. 43  ,
     Bandeira   Unidade federativa Abreviação Sede de governo   Área (km²)  \
 0        NaN                 Acre         AC      Rio Branco    164 122,2
 1        NaN              Alagoas         AL          Maceió     27 767,7
 2        NaN                Amapá         AP          Macapá    142 814,6
 3        NaN             Amazonas         AM          Manaus  1 570 745,7
 4        NaN                Bahia         BA        Salvador    564 692,7
 5        NaN                Ceará         CE       Fortaleza    148 825,6
 6        NaN     Distrito Federal         DF        Brasília      5 822,1
 7        NaN       Espírito Santo         ES         Vitória     46 077,5
 8        NaN                Goiás         GO         Goiânia    340 086,7
 9        NaN             Maranhão         MA        São Luís    331 983,3
 10       NaN          Mato Grosso         MT          Cuiabá    903 357,9
 11       NaN   Mato Grosso do Sul         MS    Campo Grande    357 125,0
 12       NaN         Minas Gerais         MG  Belo Horizonte    586 528,3
 13       NaN                 Pará         PA           Belém  1 247 689,5
 14       NaN              Paraíba         PB     João Pessoa     56 439,8
 15       NaN               Paraná         PR        Curitiba    199 314,9
 16       NaN           Pernambuco         PE          Recife     98 311,6
 17       NaN                Piauí         PI        Teresina    251 529,2
 18       NaN       Rio de Janeiro         RJ  Rio de Janeiro     43 696,1
 19       NaN  Rio Grande do Norte         RN           Natal     52 796,8
 20       NaN    Rio Grande do Sul         RS    Porto Alegre    281 748,5
 21       NaN             Rondônia         RO     Porto Velho    237 576,2
 22       NaN              Roraima         RR       Boa Vista    224 299,0
 23       NaN       Santa Catarina         SC   Florianópolis     95 346,2
 24       NaN            São Paulo         SP       São Paulo    248 209,4
 25       NaN              Sergipe         SE         Aracaju     21 910,3
 26       NaN            Tocantins         TO          Palmas    277 620,9

    População (Censo 2022)  Densidade (2005)     PIB (2015)  (% total) (2015)  \
 0                 830 018               430     13 622 000                 2
 1               3 127 683             10861     46 364 000                 8
 2                 733 759               416     13 861 000                 2
 3               3 941 613               205     86 560 000                14
 4              14 141 626              2446    245 025 000                41
 5               8 794 957              5440    130 621 000                22
 6               2 817 381             40073    215 613 000                36
 7               3 833 712              7397    120 363 000                 2
 8               7 056 495              1652    173 632 000                29
 9               6 755 805              1838     78 475 000                13
 10              3 658 649               310    107 418 000                18
 11              2 757 013               634     83 082 000                14
 12             20 539 989              3279    519 326 000                87
 13              8 121 025               558    130 883 000                22
 14              3 974 687              6371     56 140 000                 9
 15             11 444 380              5148    376 960 000                63
 16              9 058 931              8558    156 955 000                26
 17              3 271 199              1195     39 148 000                 7
 18             16 055 174             35205    659 137 000                11
 19              3 302 729              5688     57 250 000                 1
 20             11 882 965              3849    381 985 000                64
 21              1 581 196               646     36 563 000                 6
 22                636 707               174     10 354 000                 2
 23              7 610 361              6153    249 073 000                42
 24             44 411 238             16293  1 939 890 000               324
 25              2 210 004              8981     38 554 000                 6
 26              1 511 460               470     28 930 000                 5

    PIB per capita (R$) (2015)  IDH (2010) Alfabetização (2016)  \
 0                   16 953,46         663                86,9%
 1                   13 877,53         631                80,6%
 2                   18 079,54         708                  95%
 3                   21 978,95         674                93,1%
 4                   16 115,89         660                  87%
 5                   14 669,14         682                84,8%
 6                   73 971,05         824                97,4%
 7                   30 627,45         740                93,8%
 8                   26 265,32         735                93,5%
 9                   11 366,23         639                83,3%
 10                  32 894,96         725                93,5%
 11                  31 337,22         729                93,7%
 12                  24 884,94         731                93,8%
 13                  16 009,98         646                90,7%
 14                  14 133,32         658                83,7%
 15                  33 768,62         749                95,5%
 16                  16 795,34         673                87,2%
 17                  12 218,51         646                82,8%
 18                  39 826,95         761                97,3%
 19                  16 631,86         684                85,3%
 20                  33 960,36         746                96,8%
 21                  20 677,95         690                93,3%
 22                  20 476,71         707                93,4%
 23                  36 525,28         774                97,2%
 24                  43 694,68         783                97,2%
 25                  17 189,28         665                85,3%
 26                  19 094,16         699                89,6%

    Mortalidade infantil (2016) Expectativa de vida (2016)
 0                        17,0‰                  73,9 anos
 1                        19,5‰                  71,6 anos
 2                        23,2‰                  73,9 anos
 3                        18,2‰                  71,9 anos
 4                        17,3‰                  73,5 anos
 5                        14,4‰                  73,8 anos
 6                        10,5‰                  78,1 anos
 7                         8,8‰                  78,2 anos
 8                        14,9‰                  74,2 anos
 9                        21,3‰                  70,6 anos
 10                       16,9‰                  74,2 anos
 11                       14,0‰                  75,5 anos
 12                       10,9‰                  77,2 anos
 13                       16,6‰                  72,1 anos
 14                       16,1‰                  73,2 anos
 15                        9,3‰                  77,1 anos
 16                       12,7‰                  73,9 anos
 17                       19,1‰                  71,1 anos
 18                       11,5‰                  76,2 anos
 19                       14,7‰                  75,7 anos
 20                        9,6‰                  77,8 anos
 21                       20,0‰                  71,3 anos
 22                       17,2‰                  71,5 anos
 23                        9,2‰                  79,1 anos
 24                        9,9‰                  78,1 anos
 25                       16,2‰                  72,7 anos
 26                       15,8‰                  73,4 anos  ,
          vdeRegiões e unidades federativas do Brasil  \
 0                              Subdivisões do Brasil
 1                              Unidades da Federação
 2                                Região Centro-Oeste
 3                                    Região Nordeste
 4                                       Região Norte
 5                                     Região Sudeste
 6                                         Região Sul
 7                                       Arquipélagos
 8                                      Geoeconômicas
 9  Propostas de criação de unidades federativas d...

        vdeRegiões e unidades federativas do Brasil.1
 0                              Subdivisões do Brasil
 1  Região Centro-Oeste Distrito Federal Goiás Mat...
 2  Distrito Federal Goiás Mato Grosso Mato Grosso...
 3  Alagoas Bahia Ceará Maranhão Paraíba Pernambuc...
 4  Acre Amapá Amazonas Pará Rondônia Roraima Toca...
 5  Espírito Santo Minas Gerais Rio de Janeiro São...
 6            Paraná Rio Grande do Sul Santa Catarina
 7  Abrolhos Alcatrazes Anavilhanas Atol das Rocas...
 8                      Amazônica Centro-Sul Nordeste
 9  Propostas de criação de unidades federativas d...  ,
                      0                                                  1
 0  Região Centro-Oeste  Distrito Federal Goiás Mato Grosso Mato Grosso...
 1      Região Nordeste  Alagoas Bahia Ceará Maranhão Paraíba Pernambuc...
 2         Região Norte  Acre Amapá Amazonas Pará Rondônia Roraima Toca...
 3       Região Sudeste  Espírito Santo Minas Gerais Rio de Janeiro São...
 4           Região Sul            Paraná Rio Grande do Sul Santa Catarina,
                            vdeTópicos sobre o Brasil  \
 0                                            Cultura
 1                                           Economia
 2                                          Geografia
 3                                           História
 4                                     Infraestrutura
 5                                           Política
 6  Categoria  Portal do Brasil  WikiProjeto  Commons

                          vdeTópicos sobre o Brasil.1  \
 0  Artes Cinema Culinária Esporte Feriados Filoso...
 1  Agricultura Banco Central Empresas Indústria M...
 2  Biodiversidade Áreas Protegidas Biomas Problem...
 3  Cronologia Periodização Período pré-Cabralino ...
 4  Ciência e Tecnologia Comunicações Educação Ene...
 5  Administração Pública Governo Constituição Dir...
 6  Categoria  Portal do Brasil  WikiProjeto  Commons

                          vdeTópicos sobre o Brasil.2
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6  Categoria  Portal do Brasil  WikiProjeto  Commons  ,
   vdeClassificações das unidades federativas do Brasil  \
 0                                          Geografia
 1                                         Demografia
 2                                            Governo
 3                  Indicadores econômicos  e sociais
 4                                           Educação
 5                                           Economia
 6                                              Saúde
 7                                            Sociais
 8                                           Trabalho
 9                                             Outros

   vdeClassificações das unidades federativas do Brasil.1
 0  Área Densidade demográfica Número de município...
 1  População Densidade demográfica Natalidade Fec...
 2  Sedes governamentais Transparência Arrecadação...
 3  Educação Alfabetização Crianças e adolescentes...
 4  Alfabetização Crianças e adolescentes fora da ...
 5  Crescimento Crescimento nominal Participação P...
 6  Mortalidade infantil Óbitos infantis Taxa de h...
 7  GINI IDH segundo cor/raça IFDM Incidência da p...
 8  Empregados com carteira assinada Desemprego Ap...
 9  Automóveis per capita Celulares por habitante ...      ,
           0                                                  1
 0  Educação  Alfabetização Crianças e adolescentes fora da ...
 1  Economia  Crescimento Crescimento nominal Participação P...
 2     Saúde  Mortalidade infantil Óbitos infantis Taxa de h...
 3   Sociais  GINI IDH segundo cor/raça IFDM Incidência da p...
 4  Trabalho  Empregados com carteira assinada Desemprego Ap...
 5    Outros  Automóveis per capita Celulares por habitante ...,
   vdeDivisões administrativas de primeiro nível dos países da América do Sul  \
 0                              Portal América do Sul
 1  Argentina Bolívia Brasil Chile Colômbia Equado...
 2         Lista de divisões administrativas por país

   vdeDivisões administrativas de primeiro nível dos países da América do Sul.1
 0                              Portal América do Sul
 1  Argentina Bolívia Brasil Chile Colômbia Equado...
 2         Lista de divisões administrativas por país                            ,
    vdeSubdivisões extintas do Brasil  \
 0               Evolução territorial
 1                            Colônia
 2                Capitanias iniciais
 3             Capitanias posteriores
 4            Governo-Geral e Estados
 5          Outras divisões coloniais
 6                            Império
 7                         Províncias
 8          Outras divisões imperiais
 9                          República
 10              Territórios federais
 11                   Outras divisões
 12                  Portal do Brasil

                   vdeSubdivisões extintas do Brasil.1
 0                                Evolução territorial
 1   Capitanias iniciais Baía de Todos os Santos Ce...
 2   Baía de Todos os Santos Ceará Espírito Santo I...
 3   Alagoas Cabo Norte Caeté Cametá Cumã Goiás Grã...
 4   Governo-Geral Repartição Norte Repartição Sul ...
 5   Colônia de Caiena e Guiana Cisplatina Reino do...
 6   Províncias Alagoas Amazonas Bahia Ceará Cispla...
 7   Alagoas Amazonas Bahia Ceará Cisplatina Espíri...
 8                                    Município Neutro
 9   Territórios federais Fernando de Noronha Ponta...
 10  Fernando de Noronha Ponta Porã Amapá Guaporé I...
 11  Extintos Distrito Federal (1891–1960) Estado d...
 12                                   Portal do Brasil  ,
                            0  \
 0        Capitanias iniciais
 1     Capitanias posteriores
 2    Governo-Geral e Estados
 3  Outras divisões coloniais

                                                    1
 0  Baía de Todos os Santos Ceará Espírito Santo I...
 1  Alagoas Cabo Norte Caeté Cametá Cumã Goiás Grã...
 2  Governo-Geral Repartição Norte Repartição Sul ...
 3  Colônia de Caiena e Guiana Cisplatina Reino do...  ,
                            0  \
 0                 Províncias
 1  Outras divisões imperiais

                                                    1
 0  Alagoas Amazonas Bahia Ceará Cisplatina Espíri...
 1                                   Município Neutro  ,
                       0                                                  1
 0  Territórios federais  Fernando de Noronha Ponta Porã Amapá Guaporé I...
 1       Outras divisões  Extintos Distrito Federal (1891–1960) Estado d...,
                         0                             1
 0  Controle de autoridade  : Q485258 LCCN: sh2002001300]

In [ ]:
# A lista df3 é uma lista de dataframes, onde cada dataframe corresponde a uma tabela encontrada na página
# Vamos ver quantas tabelas foram encontradas
len(df3)  # 13 Tabelas

13

In [ ]:
# No caso queremos a tabela 2, que é a tabela com as unidades federativas do Brasil
df_uf = df3[1]
df_uf = df_uf.drop("Bandeira", axis=1) # Removendo a coluna Bandeira
df_uf = df_uf.to_csv("unidades_federativas.csv", index=False)

In [33]:
# Lendo o arquivo CSV salvo
df4 = pd.read_csv("unidades_federativas.csv", sep=",")
df4

,Unidade federativa,Abreviação,Sede de governo,Área (km²),População (Censo 2022),Densidade (2005),PIB (2015),(% total) (2015),PIB per capita (R$) (2015),IDH (2010),Alfabetização (2016),Mortalidade infantil (2016),Expectativa de vida (2016)
0,Acre,AC,Rio Branco,"164 122,2",830 018,430,13 622 000,2,"16 953,46",663,"86,9%","17,0‰","73,9 anos"
1,Alagoas,AL,Maceió,"27 767,7",3 127 683,10861,46 364 000,8,"13 877,53",631,"80,6%","19,5‰","71,6 anos"
2,Amapá,AP,Macapá,"142 814,6",733 759,416,13 861 000,2,"18 079,54",708,95%,"23,2‰","73,9 anos"
3,Amazonas,AM,Manaus,"1 570 745,7",3 941 613,205,86 560 000,14,"21 978,95",674,"93,1%","18,2‰","71,9 anos"
4,Bahia,BA,Salvador,"564 692,7",14 141 626,2446,245 025 000,41,"16 115,89",660,87%,"17,3‰","73,5 anos"
5,Ceará,CE,Fortaleza,"148 825,6",8 794 957,5440,130 621 000,22,"14 669,14",682,"84,8%","14,4‰","73,8 anos"
6,Distrito Federal,DF,Brasília,"5 822,1",2 817 381,40073,215 613 000,36,"73 971,05",824,"97,4%","10,5‰","78,1 anos"
7,Espírito Santo,ES,Vitória,"46 077,5",3 833 712,7397,120 363 000,2,"30 627,45",740,"93,8%","8,8‰","78,2 anos"
8,Goiás,GO,Goiânia,"340 086,7",7 056 495,1652,173 632 000,29,"26 265,32",735,"93,5%","14,9‰","74,2 anos"
9,Maranhão,MA,São Luís,"331 983,3",6 755 805,1838,78 475 000,13,"11 366,23",639,"83,3%","21,3‰","70,6 anos"
10,Mato Grosso,MT,Cuiabá,"903 357,9",3 658 649,310,107 418 000,18,"32 894,96",725,"93,5%","16,9‰","74,2 anos"
11,Mato Grosso do Sul,MS,Campo Grande,"357 125,0",2 757 013,634,83 082 000,14,"31 337,22",729,"93,7%","14,0‰","75,5 anos"
12,Minas Gerais,MG,Belo Horizonte,"586 528,3",20 539 989,3279,519 326 000,87,"24 884,94",731,"93,8%","10,9‰","77,2 anos"
13,Pará,PA,Belém,"1 247 689,5",8 121 025,558,130 883 000,22,"16 009,98",646,"90,7%","16,6‰","72,1 anos"
14,Paraíba,PB,João Pessoa,"56 439,8",3 974 687,6371,56 140 000,9,"14 133,32",658,"83,7%","16,1‰","73,2 anos"
15,Paraná,PR,Curitiba,"199 314,9",11 444 380,5148,376 960 000,63,"33 768,62",749,"95,5%","9,3‰","77,1 anos"
16,Pernambuco,PE,Recife,"98 311,6",9 058 931,8558,156 955 000,26,"16 795,34",673,"87,2%","12,7‰","73,9 anos"
17,Piauí,PI,Teresina,"251 529,2",3 271 199,1195,39 148 000,7,"12 218,51",646,"82,8%","19,1‰","71,1 anos"
18,Rio de Janeiro,RJ,Rio de Janeiro,"43 696,1",16 055 174,35205,659 137 000,11,"39 826,95",761,"97,3%","11,5‰","76,2 anos"
19,Rio Grande do Norte,RN,Natal,"52 796,8",3 302 729,5688,57 250 000,1,"16 631,86",684,"85,3%","14,7‰","75,7 anos"
20,Rio Grande do Sul,RS,Porto Alegre,"281 748,5",11 882 965,3849,381 985 000,64,"33 960,36",746,"96,8%","9,6‰","77,8 anos"
21,Rondônia,RO,Porto Velho,"237 576,2",1 581 196,646,36 563 000,6,"20 677,95",690,"93,3%","20,0‰","71,3 anos"
22,Roraima,RR,Boa Vista,"224 299,0",636 707,174,10 354 000,2,"20 476,71",707,"93,4%","17,2‰","71,5 anos"
23,Santa Catarina,SC,Florianópolis,"95 346,2",7 610 361,6153,249 073 000,42,"36 525,28",774,"97,2%","9,2‰","79,1 anos"
24,São Paulo,SP,São Paulo,"248 209,4",44 411 238,16293,1 939 890 000,324,"43 694,68",783,"97,2%","9,9‰","78,1 anos"
25,Sergipe,SE,Aracaju,"21 910,3",2 210 004,8981,38 554 000,6,"17 189,28",665,"85,3%","16,2‰","72,7 anos"
26,Tocantins,TO,Palmas,"277 620,9",1 511 460,470,28 930 000,5,"19 094,16",699,"89,6%","15,8‰","73,4 anos"