In [1]:
import pandas as pd
import random

In [2]:
# Listas para gerar nomes fictícios
nomes = [
    "Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena", 
    "Igor", "Julia", "Karla", "Lucas", "Mariana", "Natasha", "Otavio", "Paula", 
    "Rafael", "Sofia", "Tiago", "Vanessa"
]
sobrenomes = [
    "Silva", "Santos", "Oliveira", "Souza", "Lima", "Pereira", "Costa", "Almeida", 
    "Ribeiro", "Carvalho", "Mendes", "Ferreira", "Rodrigues", "Martins", "Gomes"
]

# Gerando os dados base (90 linhas únicas)
data = {
    "nome": [f"{random.choice(nomes)} {random.choice(sobrenomes)}" for _ in range(90)],
    "idade": [random.randint(18, 70) for _ in range(90)],
    "salario": [round(random.uniform(2000, 15000), 2) for _ in range(90)]
}
df = pd.DataFrame(data)

# Adicionando duplicatas (10 linhas repetidas)
duplicatas = df.sample(n=10, replace=True)  # Escolhe 10 linhas aleatórias com reposição
df_com_duplicatas = pd.concat([df, duplicatas], ignore_index=True)

# Embaralhando o DataFrame para que as duplicatas não fiquem todas no final
df_com_duplicatas = df_com_duplicatas.sample(frac=1).reset_index(drop=True)

# Exibindo as primeiras 5 linhas para verificação
print(df_com_duplicatas.head())

# Verificando duplicatas
print("\nNúmero de linhas duplicadas:", df_com_duplicatas.duplicated().sum())

# Opcional: salvar em CSV se precisar
# df_com_duplicatas.to_csv("dummy_data_with_duplicates.csv", index=False)

               nome  idade   salario
0    Daniela Mendes     30  14777.94
1    Otavio Pereira     29   4650.90
2     Daniela Costa     58   9023.92
3       Lucas Silva     44  14770.78
4  Daniela Oliveira     25  13857.69

Número de linhas duplicadas: 10

In [ ]:
# Sendo assim, quando eu remover as duplicatas ele precisa voltar a ter 90 linhas
df = df_com_duplicatas.sort_values(by='salario', ascending=False).drop_duplicates()
df

                nome  idade   salario
66     Vanessa Costa     25  14934.86
0     Daniela Mendes     30  14777.94
8        Lucas Silva     44  14770.78
54        Julia Lima     70  14340.64
17    Paula Ferreira     52  13859.54
..               ...    ...       ...
48  Natasha Ferreira     36   2894.39
93       Rafael Lima     56   2806.26
43      Tiago Santos     25   2466.18
78   Daniela Almeida     38   2200.56
91       Lucas Gomes     51   2113.23

[90 rows x 3 columns]