In [3]:
import pandas as pd

In [4]:
# Podemos fazer a analogia de um DataFrame com um varal, onde eu posso pendurar Series nele. Sendo assim, um DataFrame é uma coleção de Series.

# Ou podemos comparar o DataFrame como uma planilha, onde cada coluna é uma Series e cada linha é um registro.
idades = [33, 31, 27, 26, 18, 52, 39, 33, 30, 42]
nomes = ['Ana', 'Bruno', 'Carlos', 'Daniel', 'Eduardo', 'Fernanda', 'Gabriel', 'Henrique', 'Igor', 'Juliana']

series_idade = pd.Series(idades)
series_nomes = pd.Series(nomes)

In [5]:
df = pd.DataFrame()
df['idades'] = series_idade
df['nomes'] = series_nomes
df

   idades     nomes
0      33       Ana
1      31     Bruno
2      27    Carlos
3      26    Daniel
4      18   Eduardo
5      52  Fernanda
6      39   Gabriel
7      33  Henrique
8      30      Igor
9      42   Juliana

In [ ]:
# Podemos obter uma Series de um DataFrame através do nome da coluna, ou através da linha.

# Se eu pegar em coluna, os indicies dessa Series serão os mesmos do DataFrame.

# Se eu pego uma series, referente a linha, os indicies dessa Series serao as colunas do DataFrame.

df.iloc[0]

'Ana'

In [15]:
df.iloc[0]['nomes']

'Ana'

In [16]:
df.iloc[-1]['idades']

'Ana'